<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出错了！</title>
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet"/>
</head>
<body>
<div style="position:relative;width: 400px;margin: 10% auto;border: 1px solid #ccc;padding: 40px">
    <div class="layui-card">
        <div class="layui-card-header">
            <h2 style="color: #FF5722;">
                <i class="layui-icon layui-icon-face-surprised" style="font-size: 30px;"></i>
                404!
            </h2>
        </div>
        <div class="layui-card-body">
            <a href="javascript:history.go(-1)" class="layui-btn layui-btn-sm layui-btn-normal">返回上一个页面</a>
            <a href="javascript:location.href='/'" class="layui-btn layui-btn-sm layui-btn-normal">首页</a>
        </div>
    </div>
</div>
</body>
</html>