<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>答卷列表</title>
        <link href="/static/lib/layui/css/layui.css" rel="stylesheet"/>
        <link href="/static/css/style.css" rel="stylesheet">
        <style>
        </style>
    </head>
    <body>
        <div th:insert="~{header}"></div>
        <div th:if="!${q}" style="margin: 50px auto;padding: 30px;box-shadow: 0 0 5px #ccc">
            <h2>问卷不存在或者已被删除！</h2>
        </div>
        <div class="layui-container" th:if="${q}">
            <h1 class="text-primary" style="margin: 20px 0">
                <i class="layui-icon layui-icon-list" style="font-size: 35px"></i>
                <span th:text="'《'+${q.name}+'》的答卷'"></span>
                <a href="/questionnaire/list" class="layui-btn layui-btn-normal layui-icon layui-icon-add-1" style="float: right">返回我的问卷</a>
            </h1>
            <h3 th:if="${list}" class="text-dark-gray">有效答卷共计<span th:text="${q.paperCount}" class="layui-badge layui-bg-blue"></span>份</h3>
            <table class="layui-table" lay-size="lg" lay-skin="line">
                <thead>
                    <tr>
                        <th style="width: 10%">No.</th>
                        <th style="width: 30%">来源</th>
                        <th style="width: 20%"></th>
                        <th style="width: 40%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="!${list}">
                        <td colspan="6"><h3 class="text-primary">该问卷暂时没有答卷！</h3></td>
                    </tr>
                    <tr th:if="${list}" th:each="p,stat :${list}">
                        <td th:text="${stat.count}"></td>
                        <td>
                            ip：<span th:text="${p.ip}" class="text-dark"></span>
                            <span th:text="${p.address}" class="text-dark">上海-上海</span>
                            来自：<span th:text="${p.sourceText}" class="text-dark">未知</span>
                        </td>
                        <td>
                            <a th:href="'/paper/view/'+${p.id}" target="_blank" class="layui-btn layui-btn-normal layui-btn-xs">查看</a>
                            <button th:data-id="${p.id}" data-id="" class="layui-btn layui-btn-danger layui-btn-xs">删除</button>
                        </td>
                        <td>
                            答卷耗时：<span th:text="${p.elapsedTimeText}" class="layui-badge layui-bg-orange"></span>
                            提交时间：<span th:text="${#dates.format(p.submitTime,'yyyy/MM/dd HH:mm:ss')}" class="text-dark"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script src="/static/lib/layui/layui.all.js"></script>
    <script src="/static/lib/jquery-1.9.1.min.js"></script>
    <script>
        $(function (){
            $(".publishBtn").click(function (){
                let questionnaireId = $(this).data("id");
                if(questionnaireId === undefined || questionnaireId.trim() === '')
                    return ;
                console.log(questionnaireId);
                layer.confirm("<span class='text-danger'>发布之后将无法再次设计修改问卷，确认发布答卷？</span>",{
                    btn: ['确认', '取消']
                }, function () {
                    $.post("/questionnaire/design/publishQuestionnaire",
                        {questionnaireId:questionnaireId },
                        function (data){
                            if(data.code === 200){
                                layer.msg("发布成功！",{icon:6});
                                document.location.reload(); //刷新页面
                            }else{
                                layer.msg("发布失败！"+data.data,{icon:5});
                            }
                        }
                    )
                }, function(){
                    // 按钮2的事件
                });
            });
            $(".stopBtn").click(function (){
                let questionnaireId = $(this).data("id");
                if(questionnaireId === undefined || questionnaireId.trim() === '')
                    return ;
                console.log(questionnaireId);
                layer.confirm("<span class='text-danger'>状态设为“停止”后该问卷将不能继续填写，确认停止答卷？</span>",{
                    btn: ['确认', '取消']
                }, function () {
                    $.post("/questionnaire/stop",
                        {questionnaireId:questionnaireId },
                        function (data){
                            if(data.code === 200){
                                layer.msg("停止成功！",{icon:6});
                                document.location.reload(); //刷新页面
                            }else{
                                layer.msg("停止失败！"+data.data,{icon:5});
                            }
                        }
                    )
                }, function(){
                    // 按钮2的事件
                });
            });
            $(".delBtn").click(function (){
                let questionnaireId = $(this).data("id");
                if(questionnaireId === undefined || questionnaireId.trim() === '')
                    return ;
                console.log(questionnaireId);
                layer.confirm("<span class='text-danger'>将会删除该问卷所有数据，包括已经收集的答卷且不能还原！确认删除？</span>",{
                    btn: ['确认', '取消']
                }, function () {
                    $.post("/questionnaire/delete",
                        {questionnaireId:questionnaireId },
                        function (data){
                            if(data.code === 200){
                                layer.msg("删除成功！",{icon:6});
                                document.location.reload(); //刷新页面
                            }else{
                                layer.msg("删除失败！"+data.data,{icon:5});
                            }
                        }
                    )
                }, function(){
                    // 按钮2的事件
                });
            });
        });
    </script>
</html>