<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>感谢您的参与^-^</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="/static/lib/layui/css/layui.css" rel="stylesheet"/>
        <link href="/static/css/style.css" rel="stylesheet">
        <style>
        </style>
    </head>
    <body>
        <div class="logo">
            <a href="/" class="text-primary">
                <i class="layui-icon layui-icon-list"
                   style="line-height: 60px;height:60px;font-weight: bold">
                </i>
                问卷Online
            </a>
        </div>
        <div style="margin: 100px 0">
            <h1 class="text-primary text-center layui-icon layui-icon-ok-circle">
                已成功提交，感谢您的参与^-^
            </h1>
        </div>
    </body>
</html>